@import '../../styles/application/variables.css';

.section-tech {
  margin: 1em 0;
}

.section-tech__content {
  height: 25px;
  width: 35%;
  display: flex;
}

.section-tech-item {
  display: flex;
  height: 36px;
  width: 50%;
}

.section-tech__title {
  font-size: 1rem;
  box-shadow: 0px 0px 21px 1px #CABEBE;
  border-radius: 5px;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box {
  border-radius: 5px;
  box-shadow: 0px 0px 21px 1px rgba(100,147,191,0.66);
  padding: 1em;
  transition: .4s;
}

.content-box:hover {
  transform: scale(1.03);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.content-box__header {
  padding: 1em 1em 4em 1em;
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  position: relative;
}

.content-box__image {
  border: 10px solid rgba(32, 35, 42,0.4);
  background: #E3EAF3;
  width: 35%;
  margin: auto;
  padding: 1em 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
}

.content-box__title {
  margin-top: 0;
}

.content-box__body {
  padding: 6em 2em 2em 2em;
  font-size: .8rem;
  position: relative;
}

.content-box__button {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.botton-box {
  background: #FFF;
  border: 1px solid #CABEBE;
  border-radius: 2px;
  margin: .5em;
  margin-left: 0;
  cursor: pointer;
}

.botton-box:focus {
  outline: none;
}

@media only screen and (min-width: 480px) {
  .section-tech__content {
    height: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-tech {
    margin: 3em 0;
  }

  .section-tech__title {
    font-size: 1.5rem;
    margin: 1em 0;
    width: 50%;
  }

  .content-box__image {
    padding: 1.5em 0;
    top: 45%;
  }
}
