@import '../../styles/application/variables.css';

.list {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  background: #20232a;
}

.list__item {
  border-bottom: 1px solid white;
  list-style-type: none;
  display: block;
}

.list__item:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 1024px) {
  .list__item {
    display: inline-block;
    border-bottom: none;
  }
}

.list__link {
  font-size: 1rem;
  font-weight: bold;
  color: #FFF;
  padding: .5em 2em;
  display: inline-block;
  text-decoration: none;
}

.list__link--selected {
  color: #59ccee;
}

.list__link:hover {
  color: #e8c444;
}

@media only screen and (min-width: 1024px) {
  .list__link {
    font-size: 1.2rem;
  }      
}

.header {
  margin: 0 0 1em 0;
  padding: 0;
}

.icon-logo {
  animation: App-logo-rotate infinite 20s linear;
  height: 90px;
}

@media only screen and (min-width: 1024px) {
  .icon-logo {
    height: 70px;
  }      
}

.icon-search {
  position: absolute;
  right: 11%;
  top: 30%;
  width: 2em;
  height: 2em;
}

.section-nav {
  background: #07365e;
  display: block;
  text-align: center;
}

.section-nav__container {
  display: inline-block;
  width: 100%;
  align-items: center;
  background: #20232a;
}

.section-nav__box-search {
  position: relative;
  height: 84%;
  padding: .5em;
  margin: auto;
  transition: .3s;
}

.section-nav__search {
  padding: .5em 1em;
  border: none;
  height: 72%;
  width: 60%;
  padding-right: 20%;
  border-radius: 3px;
  font-size: 1rem;
  background: rgba(78, 79, 79, 0.7);
  color: white;
  outline-color: white;
  transition: .3s;
}

.section-nav__search:focus {
  background: #FFF;
  color: #000;
}

@media only screen and (min-width: 1024px) {
  .section-nav__container {
    display: flex;
  }

  .section-nav__box-search {
    padding: 0;
  }

  .section-nav {
    display: flex;
    justify-content: space-between;
  }    
}

@keyframes App-logo-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
