.footer {
  font-size: 1rem;
  text-align: center;
  background: #20232a;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
  align-self: flex-end;
}

.footer__content {
  color: #FFF;
  margin: .5em 0;
  text-transform: capitalize;
}

.list-social {
  list-style-type: none;
  padding-left: 0;
}

.list-social__item {
  display: inline-block;
  margin: 1em;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 3em;
  }

  .list-social__item {
    margin: 1em 2em;
  }
}
