.footer {
  text-align: center;
  background: #20232a;
  margin-top: 1em;
  padding: 3em;
  width: 100%;
  align-self: flex-end;
}

.footer__content {
  color: #FFF;
  font-size: 1.5em;
  margin: .5em 0;
}

.list-social {
  list-style-type: none;
  padding-left: 0;
}

.list-social__item {
  display: inline-block;
  margin: 1em 2em;
}
