.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-github, .icon-facebook, .icon-umbrella, .icon-instagram, .icon-twitter, .icon-youtube {
  fill: #59ccee;
  cursor: pointer;
  transition: .3s;
}

.icon-github:hover, .icon-facebook:hover, .icon-umbrella:hover, .icon-instagram:hover, .icon-twitter:hover, .icon-youtube:hover {
  transform: scale(1.3);
  fill: green;
}
